/* figure caption */
figcaption {
    text-align: center;
    font-style: italic;
    font-weight:normal;
    font-size: 10pt;
    color: #000094;
}

figcaption:before {
    content: "Fig: ";
}

/* figure caption */
img + em {
    text-align: center;
    font-style: italic;
    font-weight:normal;
    font-size: 10pt;
    color: #000094;
}

img + em:before {
    content: "Fig: ";
}

/* table caption */
table + p > em {
    text-align: center;
    font-style: italic;
    font-weight:normal;
    font-size: 10pt;
    color: #000094;
}

table + p > em:before {
    content: "Table: ";
}

/* graph caption */
div.mermaid + p > em {
    text-align: center;
    font-style: italic;
    font-weight:normal;
    font-size: 10pt;
    color: #000094;
}

div.mermaid + p > em:before {
    content: "Graph: ";
}

/* content */

body {
    font-style: normal;
    font-weight: normal;
    font-size: 10pt;
    font-family: Calibri, Titillium;
    color: #575756;
}

h1, h2, h3 {
    font-style: normal;
    font-weight: normal;
}

h1 {
    font-size: 18pt;
    color: #000094;
}

h2 {
    font-size:12pt;
    color:#000094
}

h3 {
    font-size:11pt;
    color:#6666bf
}

table {
    border-top: 6px solid rgb(185, 0, 255);
    border-bottom: 4px solid rgb(185, 0, 255);
}

td, th {
    /* border: 5px solid #fff !important; */
    border: 3px solid #fff !important;
    font-style:normal;
    color:#000094;
    padding: 1em;
}

th {
    font-size:10pt;
    font-family:Calibri, Titillium Bd;
    background-color: #ECECEC;
}

td {
    font-weight:normal;
    font-size:9pt;
}

.stickynav {
    /* from https://cssgradient.io/ */
    background: rgb(185,0,255);
    background: linear-gradient(120deg, rgba(185,0,255,1) 0%, rgba(0,0,148,1) 100%, rgba(45,79,85,1) 100%); 
}

.wy-side-nav-search {
    background: none;
}
